
body {
    font-family: Arial, sans-serif;
  }

  .f-form-container {
    margin-top: 70px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: 80px;
    margin-right:70px;
    width:90%
  }
  
  .f-form-group {
    margin-bottom: 20px;
  }
  
  .f-form-group label {
    font-weight: bold;
  }
  
  .f-form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .invalid-feedback {
    color: red;
  }
  
 
  /* .btn {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .btn-success {
    background-color: #28a745;
  }
  
  .btn:hover {
    background-color: #0056b3;
  } */
  
  .f-calculator {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-left: 70px;
    width:100%
  }
  
  .f-calculator label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
  }
  
  .f-calculator select,
  .f-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .f-button {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .f-button:hover {
    background-color: #45a049;
  }
  
  .f-results {
    margin-top: 30px;
  }
  
  .f-amounts p {
    margin-bottom: 20px;
  }
  
  .f-amounts span {
    font-weight: bold;
  }

  
  