.plantCard {
    background-color: rgba(255, 255, 255, 0.3);
    height: 200px;
    border-radius: 25px;
    text-decoration: none;
}

.plantCard-body {
    color: #566032;
    padding-top: 50px;
}

body {
    background-image: url('../../public/images/cardBG.png');
    background-size: cover;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.layoutImg {
    height: 300px;
    margin: 20px;
}

.plantTopic {
    color: #3b4222;
    text-align: center;
}

.plantBody {
    margin: 10px;
    padding: 10px;
    align-items: center;
    margin-top: 100px;
}

#plantNav-link {
    color: #463720;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
}

#plantDiv {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    min-height: 500px;
}

#plantTable {
    /* margin: 20px;
    padding: 10px; */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    text-align: center;
}

#plantForm {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 75%;
    margin: 0 auto;
}

#plantForm2 {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#plantForm label {
    width: 200px;
    text-align: left;
}

#plantForm2 label {
    width: 200px;
    text-align: left;
}

#plantFormFeild {
    width: 450px;
}

.plantInput-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.plantReport {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-top: 80px;
}

.plantReport1 {
    padding: 30px;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
}

.plantSearch {
    position: fixed;
    right: 10px;
    top: 120px;
    width: 25%;
}

.plantHeader {
    position: fixed;
    top: 0;
    width: 100%;
}

#plantButton {
    float: right;
    margin: 10px;
}

.imageReport2 {
    height: 100px;
    margin: 5px;
}

@media print {

    .print-header,
    .print-footer,
    .print-body {
        display: block !important;
        position: fixed;
        width: 100%;
        text-align: center;
    }

    .print-header {
        top: 20px;
        bottom: 20px;
    }

    .print-footer {
        bottom: 20px;
    }

    .plantPrint-header,
    .plantPrint-footer
    {
        display: block !important;
        position: fixed;
        width: 100%;
        text-align: center;
    }

    .plantPrint-header {
        top: 20px;
        bottom: 20px;
    }

    .plantPrint-footer {
        bottom: 20px;
    }

    .plantReport {
        top: 200px;
        bottom: 20px;
        display: block !important;
        position: fixed;
        width: 90%;
        text-align: left;
        margin: 50px;
    }

    .plantReport2 {
        top: 200px;
        bottom: 20px;
        display: block !important;
        position: fixed;
        width: 90%;
        text-align: left;
        margin: 50px;
    }

    button { display: none; }
  .actionCol { display: none; }
}