body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.f-dashboard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
}

.f-summary-container {
    flex: 1 1 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
}

.f-summary {
    padding: 20px;
}

.f-summary h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.f-summary-value {
    font-size: 36px;
    color: #007bff;
    margin: 10px 0;
}


.fertilization-records-container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    margin-left: 10px;
    padding: 20px;
    max-width: 870px;
}

.f-graph h2,
.f-calculator h2,
.f-todo-list h2,
.fertilization-records h2 {
    margin-top: 0;
    color: #333;
}

.f-buttons {
    text-align: center;
    margin-top: 20px;
}

f-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

f-button:hover {
    background-color: #0056b3;
}

f-table {
    width: 100%;
    border-collapse: collapse;
}

f-table th,
f-table td {
    padding: 10px;
    border: 5px solid black; 
}

.f-dashboard {
    display: flex;
    flex-wrap: wrap;
}

.f-graph-container {
    margin-top: 20px;
}


.f-calculator {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }


.f-calculator-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.f-inputs {
    margin-left:20px;
}

.f-results {
    flex: 1;
    padding: 40px;
    border-left: 2px solid #ddd;
    margin-left: 30px;
}

f-label {
    font-size: 20px;
}

f-select,
f-input[type="number"] {
    width: 100%;
    padding: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
}

f-button {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

f-button:hover {
    background-color: #45a049;
}

.f-results h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
}

.f-amounts > f-div {
    width: 350px;
    background-color: #e8f0fe;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.f-amounts p {
    margin-bottom: 10px;
    font-size: 20px;
}

.f-amounts span {
    font-weight: bold;
    color: #4caf50;
}

.f-age-message {
    font-size: 15px; 
    color: red;
    font-weight: bold;
    margin-top: 5px;
}


.f-todo-container {
    width: 30%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto; 
    margin-right: 70px;
}

.f-todo {
    border: 1px solid #ccc;
    padding: 20px;
}

.f-todo h2 {
    margin-top: 0;
    color: #333;
}